@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/site.css" />    
}


<div class="text-center">
    <h1 class="display-4">Harry Potter - UNDER CONSTRUCTION</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<img src="https://i.imgur.com/GNtAFrh.jpeg" width="1000"/> 

